/*ссылки*/

a.link {
    position: relative;
}

a.link span {
    position: absolute;
}

a.link span div {
    display: none;
    
    height: 26px;  
}

a.link:hover div {
    display: block;
}

/*отступ сверху*/

section.main section.our-projects h2 {
    /*иначе не корректно сверху отсутп*/
    
    margin-top: 0;
    padding-top: 0;
}

/*абзацы*/

p {
    text-align: justify;
}

div.p {
    text-align: justify;
    
    margin: 20px 0;
}

/*хештеги*/

div.hashtag {
    display: inline-block;
}