/*о нас*/

/*заголовок*/

section.main section.about-us h2 { 
    /*иначе не корректно якорь*/
    
    overflow: auto;
    border: 1px solid transparent;
}

/*тело*/

section.main section.about-us article {
    width: 100%;
    
    /*для стрелок*/
    
    overflow: auto;
    position: relative;
}

section.main section.about-us article p {
    margin: 5px 0;
}

section.main section.about-us article div.persons {
    margin: 0 10%;
}

section.main section.about-us article div.persons div.information {
    padding: 3%;
    
    /*для границы*/
    
    border-radius: 40px;
    overflow: auto;
}

/*участники*/

section.main section.about-us article div.persons div.information#person_1 {
    display: block;
}

section.main section.about-us article div.persons div.information#person_2 {
    display: none;
}

/*шапка участника*/

section.main section.about-us article div.persons div.information div.person {
    width: 100%;
    
    float: left;
}

section.main section.about-us article div.persons div.information div.person img {      
    height: 150px;
    
    float: left;
}

/*кнопки*/

section.main section.about-us article div.button-left {  
    float: left;
    
    width: 10%;  
    
    cursor:pointer;
    
    /*позиционирование*/
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

section.main section.about-us article div.button-left div.button {  
    float: right;
    
    width: 100%;
    
    padding-top: 173%;
    
    background-size: 100%;
    background-repeat: no-repeat;
}

section.main section.about-us article div.button-right {
    float: left;
    
    width: 10%;
    
    cursor:pointer;
    
    /*позиционирование*/
    
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
}

section.main section.about-us article div.button-right div.button {
    float: left;
    
    width: 100%;
    
    padding-top: 173%;
    
    background-size: 100%;
    background-repeat: no-repeat;
}

/*точки*/

section.main section.about-us article div.persons div.count-person {   
    /*позиционирование*/
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/*ширина экрана больше 800*/

@media (min-width: 800px) {

    section.main section.about-us article div.persons div.count-person div.image-off {
        width: 15px;
        height: 15px;

        float: left;

        margin: 5px;

        cursor:pointer;
        
        background-size: 100%;
        background-repeat: no-repeat;
    }

    section.main section.about-us article div.persons div.count-person div.image-on {
        width: 15px;
        height: 15px;

        float: left;

        margin: 5px;

        cursor: default;
        
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

/*ширина экрана меньше 800*/

@media (max-width: 800px) {

    section.main section.about-us article div.persons div.count-person div.image-off {
        width: 20px;
        height: 20px;

        float: left;

        margin: 5px;

        cursor:pointer;
        
        background-size: 100%;
        background-repeat: no-repeat;
    }

    section.main section.about-us article div.persons div.count-person div.image-on {
        width: 20px;
        height: 20px;

        float: left;

        margin: 5px;

        cursor: default;
        
        background-size: 100%;
        background-repeat: no-repeat;
    }
}