/*ширина экрана больше 800*/

@media (min-width: 800px) {
    /*контакты*/

    section.main section.contacts article {
        width: 100%;

        text-align: center;

        /*позиционирование*/

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    section.main section.contacts article div.card {
        width: 200px;

        margin: 5px 10px;

        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px; 

        float: left;

        /*для фона с замком*/

        position: relative;
    }
}

/*ширина экрана меньше 800*/

@media (max-width: 800px) {
    /*контакты*/

    section.main section.contacts article {
        width: 100%;

        text-align: center;
    }
    
    section.main section.contacts article div.card-center  {
        width: 220px;
        
        margin: auto;
        
        /*иначе не корректно подвал*/
        
        overflow: auto;
    }
    
    section.main section.contacts article div.card {
        width: 200px;

        margin: 5px 10px;

        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px; 

        /*для фона с замком*/

        position: relative;
    }
}

/*закрыто*/

section.main section.contacts article div.card img.card-block {
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 37px; 
    
    /*прозрачность*/
    
    filter: alpha(Opacity=75);
    opacity: 0.75;
    
    /*позиционирование*/
    
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

section.main section.contacts article div.card img.lock {    
    width: 50%;
    height: 50%;
    
    /*позиционирование*/
    
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*шапка*/

section.main section.contacts article div.card div.header {
    height: 50px;
    
    background: url(../images/background.jpg);
    background-size: 100%;
}

section.main section.contacts article div.card div.header div.background {
    height: 50px;
}

section.main section.contacts article div.card div.header div.background p {
    height: 30px;
    
    font-weight: bold;
    text-align: center; 
    
    padding: 10px 0;
    
    /*убрать отступы*/
    
    margin: 0;
}

/*иконка*/

section.main section.contacts article div.card div.icon img {
    height: 100px;
    
    padding: 10px;
}

/*кнопка*/

section.main section.contacts article div.card a.button {
    border-radius: 40px;
    
    padding: 8px 20px;
    margin-bottom: 8px;
    
    font-weight: bold;
    text-decoration-line: none;
    
    /*иначе кнопка не корректно*/
    
    display: inline-block;
}