/*шапка*/

header {
    background-image: url(../images/background.jpg);
    background-size: 100%;
    
    z-index: 2;
    
    width: 100%;
    
    /*позиционирование*/
    
    top: 0;
    left: 0;
    position: fixed;
}

header div.background {
    height: 80px;
}

/*ширина экрана больше 800*/

@media (min-width: 800px) {
    /*лого*/
    
    header div.background div.logo {
        width: 20%;
    }
    
    /*смена темы*/
    
    header div.background div.theme {
        /*позиционирование*/

        position: relative;
        height: 40px;
        width: 5%;
        margin: 20px 0;
        float: left;
    }
    
    /*мобильное меню*/

    header div.background label.button-menu {
        display: none; 
    }

    /*меню*/

    header nav.sections {
        width: 66%;
        
        height: 20px;

        float: left;

        font-size: 16px;
    }

    header nav.sections ul.sections {
        margin: 30px 0;

        float: right;

        list-style: none;
    }

    header nav.sections ul.sections li {
        margin: 0 10px;

        float: left;
    }

    /*язык*/

    header nav.languages {
        width: 9%;

        float: left;

        font-size: 16px;
        
        /*иначе не корректно высота при раскрытии списка*/
        
        height: 80px;
    }

    header nav.languages ul.languages {
        margin: 30px 0;

        float: right;

        list-style: none;
        
        /*иначе не корректно из-за отступа слева*/
        
        padding: 0;
    }
}

/*ширина экрана меньше 800*/

@media (max-width: 800px) {
    /*лого*/
    
    header div.background div.logo {
        width: 25%;

        margin-left: 10px;
    }
    
    /*смена темы*/
    
    header div.background div.theme {
        /*позиционирование*/

        position: relative;
        height: 40px;
        width: 40px;
        margin: 20px 0 20px 30px;
        float: left;
    }

    /*мобильное меню*/

    header div.background label.button-menu {
        width: 25px;

        cursor: pointer;

        border-radius: 5px;
        
        /*позиционирование*/
        
        padding: 5px;
        position: fixed;
        top: 18.5px;
        right: 5px;
    }

    header div.background label.button-menu span {
        border: 1px solid transparent;
        border-radius: 5px;
        
        /*позиционирование*/
        
        display: block;
        height: 4px;
        margin: 4px 0 0;
        position: relative;
    }

    header div.background label.button-menu span.top {
        margin-top: 0;
    }  

    /*выдвижение меню*/

    header div.background input.checkbox:checked ~ nav.sections {
        right: 0;
    }
    
    header div.background input.checkbox:checked ~ nav.languages {
        right: 0;
    }
    
    /*анимация кнопки*/
    
    header div.background input.checkbox:checked ~ label.button-menu span.top {
        /*позиционирование*/
        
        transform: rotate(30deg);
        top: 5px;
        left: 1px;
    }
    
    header div.background input.checkbox:checked ~ label.button-menu span.middle {
        /*прозрачность*/
        
        filter: alpha(Opacity=0);
        opacity: 0;
    }
    
    header div.background input.checkbox:checked ~ label.button-menu span.bottom {
        /*позиционирование*/
        
        transform: rotate(-30deg);   
        top: -5px;
        left: 1px;
    }

    /*меню*/

    header nav.sections { 
        width: 250px;
        
        font-size: 16px;
        
        /*позиционирование*/
        
        top: 80px;
        position: fixed;
        
        /*спрятать*/
        
        right: -250px;
        
        /*выдвижение*/
        
        transition: right 1s;
    }

    header nav.sections ul.sections {
        list-style: none;

        /*позиционирование*/
        
        padding: 0;
        padding-bottom: 5px;
        margin: 0;
    }

    header nav.sections ul.sections li {
        margin: 5px 10px;
    }

    /*язык*/

    header nav.languages {
        width: 250px;

        font-size: 16px;
        
        /*позиционирование*/
        
        top: 182px;
        position: fixed;
        
        /*спрятать*/
        
        right: -250px;
        
        /*выдвижение*/
        
        transition: right 1s;
    }

    header nav.languages ul.languages {
        list-style: none;
        
        /*позиционирование*/
        
        float: right;
        padding: 1px 0;
        margin: 0;
    }
}

/*лого*/

header div.background div.logo div.img {
    width: 50%;
    
    float: left;
}

header div.background div.logo div.img img#logo {
    /*позиционирование*/
    
    height: 40px;
    margin: 20px 5px;
    float: right;
}

header div.background div.logo div.h1 {
    width: 50%;
    
    float: left;
}

header div.background div.logo div.h1 h1 {
    font-size: 40px;
    
    /*позиционирование*/
    
    float: left;
    margin: 15px 0;
}

header div.background div.logo div.h1 h1 a {
    text-decoration-line: none;
}

/*смена темы*/

header div.background div.theme div {
    /*позиционирование*/
    
    height: 40px;
    width: 40px;
    margin: auto;
}

/*мобильное меню*/
    
header div.background input.checkbox {
    display: none;
}

/*меню*/

header nav.sections ul.sections li span.nav-sections {
    font-weight: bold;
}

header nav.sections ul.sections li:hover span.nav-sections {
    font-size: 18px;
}

header nav.sections ul.sections li:hover span.nav-sections span.border {
    border-bottom: 2px solid;

    cursor: pointer;

    font-size: 18px;
}

/*язык*/

header nav.languages ul.languages li { 
    font-weight: bold;
    
    cursor: default;
    
    /*позиционирование*/
    
    margin: 0 5px;
}

header nav.languages ul.languages li ul { 
    list-style: none;

    display: none;
     
    /*иначе не корректо при раскрытии*/
     
    padding: 0;
}

header nav.languages ul.languages li:hover ul { 
    display: block;

    cursor: pointer;
}

header nav.languages ul.languages li ul li { 
    margin: 10px 0;
}

header nav.languages ul.languages li ul li a { 
    text-decoration-line: none;
}

header nav.languages ul.languages li ul li:hover a { 
    border-bottom: 2px solid;

    cursor: pointer;

    font-size: 18px;
}