/*фон*/

body {
    background: rgba(255, 200, 200, 0.2);
}

/*отступ сверху*/

section.main {
    margin-top: -30px;
}

/*кнопка наверх*/

a.up {
    display: none;
    
    position: fixed;
    
	bottom: 5px;
	right: 25px;
}

/*абзацы*/

p {
    text-align: justify;
}

span.hashtag {
    color: blue;
}

/*подвал*/

footer {
    text-align: center;
}