/*фон*/

body {
    /*иначе не корректно на мобиильных*/
    
    width: auto;
}

/*кнопка наверх*/

img.up {
    display: none;
    
    /*позиционирование*/
    
    position: fixed;
    width: 50px;
	right: 25px;
}