/*фон*/

body {
    background: rgba(255, 200, 200, 0.2);
    
    width: auto;
}

/*кнопка наверх*/

img.up {
    display: none;
    
    position: fixed;
    
    width: 50px;
    
	bottom: 5px;
	right: 25px;
}