/*картинки*/

img.image {
    cursor:zoom-in;
}

/*ссылки*/

a.link {
    position: relative;
}

a.link:hover {
    color: maroon;
    
    font-weight: bold;
}

a.link:active {
    color: red;
    
    font-weight: bold;
}

a.link span {
    float: right;
    
    position: absolute;
}

a.link span div {
    float: right;
    
    display: none;
    
    height: 26px;  
}

a.link:hover div {
    display: block;
}

/*отступ сверху*/

section.main section.basic-information h2 {
    margin-top: 0;
    padding-top: 0;
}

/*абзацы*/

p {
    text-align: justify;
}

div.p {
    text-align: justify;
    
    margin: 20px 0;
}

/*хештеги*/

div.hashtag {
    display: inline-block;
}

span.hashtag {
    float: left;
    
    color: blue;
}

/*основная информация*/

/*список*/

section.main section.basic-information article ul li {
    list-style-image: url(../images/light.png);
}