/*ширина экрана больше 800*/

@media (min-width: 800px) {
    /*картинки*/
    
    img.normal-image {
        cursor:zoom-in;
        
        max-width: 50%;
    }
    
    /*основная информация*/
    
    /*список*/

    section.main section.basic-information article ul.tasks li {
        list-style-type: none;

        background-position: left top 5px;
        background-size: 12px;
        background-repeat: no-repeat;

        margin-left: -30px;
        padding-left: 25px;
    }
}

/*ширина экрана меньше 800*/

@media (max-width: 800px) {
    /*картинки*/
    
    img.normal-image {
        cursor:zoom-in;
        
        max-width: 90%;
    }
    
    /*список*/

    section.main section.basic-information article ul.tasks li {
        list-style-type: none;

        background-position: left top 5px;
        background-size: 12px;
        background-repeat: no-repeat;

        margin-left: -30px;
        padding-left: 25px;

        text-align: justify;
    }
}

/*ссылки*/

a.link {
    position: relative;
}

a.link span {
    position: absolute;
}

a.link span div {
    display: none;
    
    height: 26px;  
}

a.link:hover div {
    display: block;
}

/*отступ сверху*/

section.main section.basic-information h2 {
    /*иначе не корректно сверху отсутп*/
    
    margin-top: 0;
    padding-top: 0;
}

/*абзацы*/

p {
    text-align: justify;
}

div.p {
    text-align: justify;
    
    margin: 20px 0;
}

/*хештеги*/

div.hashtag {
    display: inline-block;
}