/*скриншоты*/

section.main section.our-projects article div.project-screenshots {
    float: left;
    
    width: 100%;
    
    margin: 5px 0;
}

section.main section.our-projects article div.project-screenshots b {
    float: left;
    
    margin: 4px 5px 4px 0;
}

section.main section.our-projects article div.project-screenshots div.button {
    background: rgba(66, 170, 255, 0.2);
    
    float: left;
    
    padding: 2px;
    
    border: 2px solid;
    border-radius: 10px;
    
    cursor:pointer;
}

/*спойлер*/

section.main section.our-projects article div.project-screenshots div.spoiler {
    border: 2px solid;
    
    width: 100%;
        
    float: left;
    
    text-align: center;
    
    display: none;
}

section.main section.our-projects article div.project-screenshots div.spoiler img.spoiler-image {
    cursor:zoom-in;
    
    float: left;
    
    height: 100px;
    
    margin: 5px;
}