/*popup*/

div.spoiler-popup {
    position: fixed;
    
    height: 100%;
    width: 100%;
    
    top: 0;
    left: 0;
    
    text-align: center;
}

div.spoiler-popup div.spoiler-popup-background {
    background: rgba(0,0,0,0.8);
    
    position: fixed;
    
    height: 100%;
    width: 100%;
    
    cursor: zoom-out;
}

div.spoiler-popup div.spoiler-popup-center {
    position: fixed;
    
    width: 90%;
    
    top: 50%;
    left: 50%;
    
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    cursor: zoom-out;
}

div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image {  
    cursor: zoom-out;
}

div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.button-popup-left {    
    width: 5%;
    
    cursor:pointer;
    
    position: absolute;
    
    top: 50%;
    left: -5%;
    
    transform: translateY(-50%);
}

div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.button-popup-left img {
    width: 100%;
}

div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image img.spoiler-popup-image {
    max-width: 100%;
    
    cursor: default;
}

div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.button-popup-right {    
    width: 5%;
    
    cursor:pointer;
    
    position: absolute;
    
    top: 50%;
    right: -5%;
    
    transform: translateY(-50%);
}

div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.button-popup-right img {
    width: 100%;
}

.count-images {
    position: absolute;
    
    top: 100%;
    left: 50%;
    
    transform: translateX(-50%);
}

.image-off {
    width: 10px;
    
    float: left;
    
    padding: 5px;
    
    cursor:pointer;
}

.image-on {
    width: 10px;
    
    float: left;
    
    padding: 5px;
    
    cursor: default;
}