/*всплывающее*/

div.spoiler-popup {
    /*позиционирование*/
    
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 2;
}

div.spoiler-popup div.spoiler-popup-background {
    background: rgba(0,0,0,0.8);
    
    cursor: zoom-out;
    
    /*позиционирование*/
    
    position: fixed;
    height: 100%;
    width: 100%;
}

div.spoiler-popup div.spoiler-popup-center {
    cursor: zoom-out;
    
    /*позиционирование*/
    
    position: fixed;
    width: 90%; 
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image {  
    cursor: zoom-out;
}

/*ширина экрана больше 800*/

@media (min-width: 800px) {
    div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image img.spoiler-popup-image {
        max-width: 100%;

        cursor: default;
    }
    
    /*кнопки*/
    
    div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.button-popup-left {    
        cursor:pointer;
        
        /*позиционирование*/

        width: 5%;
        position: absolute;
        top: 50%;
        left: -5%;
        transform: translateY(-50%);
    }
    
    div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.button-popup-right {    
        cursor:pointer;
        
        /*позиционирование*/

        width: 5%;
        position: absolute;
        top: 50%;
        right: -5%;
        transform: translateY(-50%);
    }
    
    /*точки*/
    
    div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.count-images {
        /*позиционирование*/
        
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.count-images div.image-off {
        cursor:pointer;
        
        background-size: 100%;
        background-repeat: no-repeat;
        
        /*позиционирование*/
        
        width: 15px;
        height: 15px;
        float: left;
        margin: 5px;
    }

    div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.count-images div.image-on {
        cursor: default;
        
        background-size: 100%;
        background-repeat: no-repeat;
        
        /*позиционирование*/
        
        width: 15px;
        height: 15px;
        float: left;
        margin: 5px;
    }
}

/*ширина экрана меньше 800*/

@media (max-width: 800px) {
    div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image img.spoiler-popup-image {
        max-width: 90%;

        cursor: default;
    }
    
    /*кнопки*/
    
    div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.button-popup-left {    
        cursor:pointer;

        /*позиционирование*/
        
        width: 10%;
        position: absolute;
        top: 50%;
        left: -5%;
        transform: translateY(-50%);
    }
    
    div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.button-popup-right {    
        cursor:pointer;
        
        /*позиционирование*/

        width: 10%;
        position: absolute;
        top: 50%;
        right: -5%;
        transform: translateY(-50%);
    }
    
    /*точки*/
    
    div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.count-images {
        /*позиционирование*/
        
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.count-images div.image-off {
        cursor:pointer;
        
        background-size: 100%;
        background-repeat: no-repeat;
        
        /*позиционирование*/
        
        width: 20px;
        height: 20px;
        float: left;
        margin: 5px;
    }

    div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.count-images div.image-on {
        cursor: default;
        
        background-size: 100%;
        background-repeat: no-repeat;
        
        /*позиционирование*/
        
        width: 20px;
        height: 20px;
        float: left;
        margin: 5px;
    }
}

/*кнопки*/

div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.button-popup-left div.button-left {
    width: 100%;
    
    padding-top: 173%;
    
    background-size: 100%;
    background-repeat: no-repeat;
}

div.spoiler-popup div.spoiler-popup-center div.spoiler-popup-center-image div.button-popup-right div.button-right {
    width: 100%;
    
    padding-top: 173%;
    
    background-size: 100%;
    background-repeat: no-repeat;
}