body {
    margin: 0 auto;
    text-align: center;
}

div.button {
    width: 25px;
    height: 25px;
    
    float: left;
    position: absolute;
    
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: lightgreen;
}

button {
    font-weight: bold;
}

div.button#flag {
    background-image: url(../images/buttons/flag.png);
}

div.button#cancel {
    background-image: url(../images/buttons/cancel.png);
}

div.button#lopata {
    background-image: url(../images/buttons/lopata.png);
}

